# EDA notebook - Interaction
The below steps show how interaction is selected for the analysis.

In [1]:
import pandas as pd
import numpy as np

import data_preparation as dp

house = pd.read_csv("../data/kc_house_data.csv")

house.drop(['id',
            'date',
            'zipcode', 
            'lat', 
            'long', 'sqft_above',
            'sqft_living15', 
            'sqft_lot15'], axis = 1, inplace=True)

In [2]:
# cleaning before finding interaction
house = dp.missing(house)
house = dp.cleaning(house)
house_num_final = dp.numeric_transform(house)
house = dp.categorical_tansformation(house)
house_final = dp.concatenation(house_num_final, house)

In [3]:
from sklearn.model_selection import train_test_split

X = house_final.drop('price', axis = 1)
y = house_final['price']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [4]:
from itertools import combinations

from sklearn.model_selection import cross_val_score, KFold

crossvalidation = KFold(n_splits=10, shuffle=True, random_state=1)

In [5]:
from sklearn.linear_model import LinearRegression
regression = LinearRegression()

In [6]:
dp.interaction(X_train, y_train)

     interact            x1                  x2
17   0.657831     bathrooms         sqft_living
20   0.656284     bathrooms            yr_built
1    0.656057      bedrooms         sqft_living
35   0.655721   sqft_living            yr_built
0    0.655688      bedrooms           bathrooms
..        ...           ...                 ...
96   0.654226    waterfront        grade_8 Good
108  0.654225  is_renovated        has_basement
55   0.654213      sqft_lot      condition_Good
98   0.654211          view        is_renovated
112  0.654201  is_renovated  grade_11 Excellent

[153 rows x 3 columns]

Interaction between sqft_living and yr_built is selected. Others in the top 5 are not selected as information on bedrooms and bathrooms is not selected in the analysis.